
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@keyframes forbody {
    0%   {background-color: #121212;}
    25%  {background-color: rgb(65, 64, 64);}
    50%  {background-color: rgb(69, 69, 69);}
    100% {background-color: rgb(40, 40, 40);}
}
body {
    background-color: #121212;
    color: #e0e0e0;
    animation-name: forbody;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

nav {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    background-color: rgb(22, 21, 21);
    color: white;
    align-items: flex-end;
    padding: 1rem;
    justify-content: space-between;
}

nav div {
    padding: 0.5rem;

}

nav div a {
    margin-left: 0.5rem;
    color: white;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: center;
}

nav div a img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    
}

#problem-list-section {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

#problem-list-section h2 {
    color: #e0e0e0;
    margin-bottom: 1rem;
}

.problem-card {
    background-color: #333; /* Dark grey for the card */
    color: #e0e0e0;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.problem-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.problem-card h3 {
    margin: 0;
}

.problem-card p {
    color: #b0b0b0;
    margin: 0.5rem 0 1rem;
}

.problem-card a {
    color: #4CAF50;
    text-decoration: none;
}

.problem-card a:hover {
    text-decoration: underline;
}

.difficulty {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
}

.easy {
    background-color: #4CAF50; 
}

.medium {
    background-color: #ffa500; 
}

.hard {
    background-color: #ff6347;
}
