*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8a8a8a;
    color: #e0e0e0;
    background-image: url('https://images.unsplash.com/photo-1604879616509-d841eec0ca4e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}


nav {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    background-color: rgb(22, 21, 21);
    color: white;
    align-items: flex-end;
    padding: 1rem;
    justify-content: space-between;
}

nav div {
    padding: 0.5rem;

}

nav div a {
    margin-left: 0.5rem;
    color: white;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: center;
}

.login-container {
    width: 90%;
    max-width: 400px;
    padding: 2rem;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #f0f0f0;
    margin-top: 12%;
}

.login-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #e0e0e0;
}

.input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #444;
    background-color: #333;
    color: #e0e0e0;
    border-radius: 5px;
    font-size: 1rem;
}


.forgetmenot {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

.forgetmenot label {
    color: #bbb;
}

#forgetpassword{
    margin-bottom: 1rem;
}

#forgetpassword a{
    color: white;
}

.login-button {
    width: 100%;
    padding: 0.8rem;
    background-color: #444;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #555;
}


@media (max-width: 480px) {
    #heading h1 {
        font-size: 1.5rem;
    }
    
    .login-container h2 {
        font-size: 1.25rem;
    }
    
    .input-group label, 
    .forgetmenot label {
        font-size: 0.85rem;
    }

    .input-group input, .login-button {
        font-size: 0.9rem;
    }
}




